# Logs
sample/

# Dependencies
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Tauri
src-tauri/target
src-tauri/Cargo.lock
src-tauri/gen

# Build output
*.exe
*.dmg
*.deb
*.rpm
*.AppImage
*.vsix

# VSCode extension
src-vscode/dist
src-vscode/webview
src-vscode/vsix

.codex
.sisyphus

